<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <title>留言列表</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/Home/Index/style.css"/>
    <script type="text/javascript" src='__PUBLIC__/js/Home/Index/jquery-1.7.2.min.js'></script>
    <script type="text/javascript" src='__PUBLIC__/js/Home/Index/index.js'></script>
    <style>
      body{
        background-color: transparent;
      }
      .rows{
        display: none!important;
      }
      .next{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      #msg_td a{
        color: #333;
        text-decoration: none;
      }
      #msg_td a span{
        font-size: 12px;
        color: #3AAACF;
      }
    </style>
    <script>
        $(document).ready(function(){
            $("tr:not(:first)").mouseover(function(e){
                $(this).addClass('table_change');
            });
            $("tr").mouseout(function(e){
                $(this).removeClass('table_change');
            })
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
                <table class="table">
                    <tr>
                        <th class="col-md-1">#ID</th>
                        <th class="col-md-1">姓名</th>
                        <th class="col-md-1">专业班级</th>
                        <th class="col-md-7">留言内容</th>
                        <th class="col-md-1">留言时间</th>
                    </tr>
                    <foreach name='select' item='user'>
                    <tr>
                        <td>{$user.id}</td>
                        <td>{$user.name}</td>
                        <td>{$user.class}</td>
                        <td id="msg_td">
                            <if condition="$user.num gt 90">
                                <a href="javascript:;" onclick="showMsg({$user.id})" data-uid="{$user.id}">{$user.msg|mb_substr=###,0,90,utf8}...<span>点击查看详细留言</span></a>
                                <div id="div1" style="display:none"></div>
                                <else />{$user.msg}
                            </if>
                        </td>
                        <td>{$user.time|date="Y-m-d H:i:s",###}</td>
                    </tr>
                    </foreach>
                </table>
        </div>
        <!-- 分页显示开始 -->
        <!-- <div class="paging">
          <div class="container">
              <nav style="text-align: center">
                <ul class="pagination">
                  <li><a href="#">上一页</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">下一页</a></li>
                </ul>
              </nav>
          </div>
        </div> -->
        <div class="paging">
          <div class="container">
              <nav style="text-align: center">
                <div class="pagination">
                     {$page}
                </div>
              </nav>
          </div>
        </div>

        <!-- 分页显示结束 -->
    </div>
</body>
<script>
function showMsg(id){
  $(function(){
    $.post('{:U("Index/showMsg")}', {uid: id}, function(data) {
      layer.open({
        title: "留言详情",
        type: 1,
        area: ['600px', '300px'],
        shade: 0.3,
        moveType: 1,
        shadeClose: true, //点击遮罩关闭
        content:data
      });
    })
  })
}
</script>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/laypage/1.2/laypage.js"></script> 
</html>